<div id="form-popup">
    <form id="form-container">
        <h1>New Game</h1>
        <input id="name" type="text" placeholder="Name" name="name">
        <input id="platform" type="text" placeholder="Platform" name="platform">
        <input id="genre" type="text" placeholder="Genre" name="genre">
        <input id="release_year" type="number" placeholder="Year" name="release_year">
        <input id="publisher" type="text" placeholder="Publisher" name="publisher">
        <input id="developer" type="text" placeholder="Developer" name="developer">
        <input id="rating" type="text" placeholder="Rating" name="rating">
        <button id="save-game" type="submit">Save</button>
        <button id="cancel-btn" type="button">Close</button>
    </form>
</div>